# Ignore all PyTorch model weights
*.pth
*.pt

# Ignore PyCharm configuration files
.idea/

*.npy
*.env

!constrained_fm/benchmark/validation_set.pt

dummy_script.py
logs/
__pycache__/

!constrained_fm/functa_dataset/embed_best.pt
!constrained_fm/functa_dataset/siren_best.pt
!constrained_fm/functa_dataset/loss_history.npy
!constrained_fm/functa_dataset/val_loss_history.npy
